<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<title>float</title>
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<meta name="author" content="Joy Du(飘零雾雨), dooyoe@gmail.com" />
<meta name="copyright" content="www.doyoe.com" />
<meta name="robots" content="all" />
<!--[if lte IE 8]>
<script src="http://www.css119.com/iehtml5.js"></script>
<![endif]-->
<link rel="stylesheet" href="../../skin/article.css" tppabs="http://css.doyoe.com/skin/article.css" />
</head>
<body>
<nav id="guide">
	<div class="from">
		<a href="../../index.htm" tppabs="http://css.doyoe.com/" target="_blank">CSS参考手册</a>
		<span>&#187;</span>
		<a href="../index.htm" tppabs="http://css.doyoe.com/properties/index.htm">属性列表</a>
		<span>&#187;</span>
		<a href="index.htm" tppabs="http://css.doyoe.com/properties/layout/index.htm">布局属性</a>
		<span>&#187;</span>
	</div>
	<div class="to">
		<span class="label">相关内容：</span>
		<div id="topages" class="gcombobox">
			<a href="float.htm-.htm" tppabs="http://css.doyoe.com/properties/layout/float.htm?" class="target">
				<strong>其它布局属性参考</strong>
				<span>选择其它项<!--[if lte IE 7]><ins>IE7 and earlier, Get to die</ins><![endif]--></span>
			</a>
			<div class="list ghide">
				<ul>
					<li><a href="display.htm" tppabs="http://css.doyoe.com/properties/layout/display.htm">display</a></li>
					<li><a href="float.htm" tppabs="http://css.doyoe.com/properties/layout/float.htm">float</a></li>
					<li><a href="clear.htm" tppabs="http://css.doyoe.com/properties/layout/clear.htm">clear</a></li>
					<li><a href="visibility.htm" tppabs="http://css.doyoe.com/properties/layout/visibility.htm">visibility</a></li>
					<li><a href="clip.htm" tppabs="http://css.doyoe.com/properties/layout/clip.htm">clip</a></li>
					<li><a href="overflow.htm" tppabs="http://css.doyoe.com/properties/layout/overflow.htm">overflow</a></li>
					<li><a href="overflow-x.htm" tppabs="http://css.doyoe.com/properties/layout/overflow-x.htm">overflow-x</a></li>
					<li><a href="overflow-y.htm" tppabs="http://css.doyoe.com/properties/layout/overflow-y.htm">overflow-y</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<header id="hd">
	<h1 class="tit">float</h1>
	<ul class="info">
		<li><strong>版本：CSS1</strong></li>
		<li>继承性：无</li>
	</ul>
	<div id="browser" class="browser"><iframe id="top-browser" frameborder="0" allowtransparency="true" src="../../global-browser.htm" tppabs="http://css.doyoe.com/global-browser.htm"></iframe></div>
</header>
<section id="bd">
	<section id="syntax" class="gmodule gattr">
		<h2 class="tit">语法：</h2>
		<div class="cont">
			<p><strong>float</strong>：none | left | right</p>
			<p><strong>默认值</strong>：<mark class="defaultvalue">	none</mark></p>
		</div>
	</section>
	<section id="value" class="gmodule gattr">
		<h2 class="tit">取值：</h2>
		<div class="cont">
			<dl>
				<dt>none：</dt>
				<dd>设置对象不浮动</dd>
				<dt>left：</dt>
				<dd>设置对象浮在左边</dd>
				<dt>right：</dt>
				<dd>设置对象浮在右边</dd>
			</dl>
		</div> 
	</section>
	<section id="intro" class="gmodule gattr">
		<h2 class="tit">说明：</h2>
		<div class="cont">
			<strong>该属性的值指出了对象是否及如何浮动。</strong>请参阅<a href="clear.htm" tppabs="http://css.doyoe.com/properties/layout/clear.htm">clear</a>属性
			<ul>
				<li>当该属性不等于none引起对象浮动时，对象将被视作块对象(block-level)，即<a href="display.htm" tppabs="http://css.doyoe.com/properties/layout/display.htm">display</a>属性等于block。也就是说，浮动对象的display特性将被忽略。</li>
				<li>该属性可以被应用在非绝对定位的任何元素上。</li>
				<li>对应的脚本特性为<strong>styleFloat</strong>（IE）或<strong>cssFloat</strong>（非IE）。<em class="glight">(注意这里为styleFloat或cssFloat，而不是float)</em></li>
			</ul>
		</div>
	</section>
	<section id="compatible" class="gmodule gattr">
		<h2 class="tit">兼容性：</h2>
		<div class="cont">
			<ul class="support-type">
				<li><span class="support">浅绿</span> = 支持</li>
				<li><span class="unsupport">红色</span> = 不支持</li>
				<li><span class="partsupport">墨绿</span> = 部分支持</li>
				<li><span class="experimentsupport">橙色</span> = 实验性质</li>
			</ul>
			<table class="gdataform">
				<thead>
					<tr>
						<th><a href="#browser" title="查看本文档测试时所用浏览器版本">支持版本</a>\类型</th>
						<th><span class="browser-ie">IE</span></th>
						<th><span class="browser-firefox">Firefox</span></th>
						<th><span class="browser-safari">Safari</span></th>
						<th><span class="browser-chrome">Chrome</span></th>
						<th><span class="browser-opera">Opera</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>版本</th>
						<td class="support">6.0</td>
						<td class="support">4.0</td>
						<td class="support">5.1</td>
						<td class="support">13.0</td>
						<td class="support">11.50</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<section id="example" class="gmodule gattr">
		<h2 class="tit">示例：</h2>
		<div class="cont">
			<textarea cols="90" rows="10">
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<title>float_CSS参考手册_web前端开发参考手册系列</title>
<meta name="author" content="Joy Du(飘零雾雨), dooyoe@gmail.com" />
<meta name="copyright" content="www.doyoe.com" />
<style>
.test{float:right;background:#eee;}
</style>
</head>
<body>
<div class="test">我将出现在屏幕右方</div>
<!-- css199.com Baidu tongji analytics -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff93bd5d8aa4917a86cd8e59a65783744' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
			</textarea>
			<p><input type="button" value="运行" class="gbtn btn-sure" /></p>
		</div>
	</section>
</section>
<aside id="ft">
	<div class="browser"><iframe id="bot-browser" frameborder="0" allowtransparency="true" src="../../global-browser.htm" tppabs="http://css.doyoe.com/global-browser.htm"></iframe></div>
	
</aside>
<script src="../../js/doyoe.js" tppabs="http://css.doyoe.com/js/doyoe.js"></script>
<script src="../../js/style.js" tppabs="http://css.doyoe.com/js/style.js"></script>
</body>
</html>