@charset "utf-8";

/*
@company 百度
@author xudeming
@data 2013-04-22
@info 
*/

/* base */html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;font-size:12px;font-style:normal}
html,body{min-height:100%}
body{font:12px/1.5 'Microsoft Yahei',Arial,Helvetica,sans-serif;word-break:break-all}
h1,h2,h3,h4,h5,h6{line-height:32px;font-weight:normal}
select,input,img{vertical-align:middle}
img{border:0 none}
ul,ol,li,dl,dt,dd{list-style-type:none}
a{color:#21759B;text-decoration:none}
a:hover{text-decoration:underline}
a:focus{outline:none}
table{border-collapse:collapse;border-spacing:0}
textarea{overflow:auto;resize:none}
.clear{clear:both;margin:0 auto;text-indent:-9999em}
.clearfix{*zoom:1}
.clearfix:after{display:block;visibility:hidden;clear:both;height:0;content:'.'}
.cfff{color:#fff}
.c000{color:#000}
.c333{color:#333}
.c666{color:#666}
.c999{color:#999}
.cccc{color:#ccc}
.cf00{color:#f00}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.dis-i-b{display:inline-block;*display:inline;*zoom:1}
.show{display:block}
.hide{display:none}
.border0{border:0 none}
.big{font-size:22px}
.small{font-size:11px}
input,textarea{height:25px;padding:0 5px;border:1px solid #ccc;border-radius:3px}
input[type=radio],input[type=checkbox]{border:0 none}
input.error,textarea.error{border-color:#f66;background:#fce4da;box-shadow:0 0 4px #c00}
input:focus,textarea:focus,input.active,textarea.active{border-color:#088bfb;box-shadow:0 0 4px #088bfb}
header,footer,article,section,nav,menu,hgroup{display:block;margin:0;padding:0}
body{background:url(../images/bg_index.gif) repeat}
.wrapper{overflow:hidden;width:100%;min-height:100%;_height:100%;*zoom:1}
/*文字排版*/
.f10{font-size:10px}
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f24{font-size:24px}
.f26{font-size:26px}
.fb{font-weight:700}
.fn{font-weight:400}
.t2{text-indent:2em}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
/*定位*/
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.vt{vertical-align:top}
.vm{vertical-align:middle}
.vb{vertical-align:bottom}
.pr{position:relative}
.pa{position:absolute}
/*长度高度*/
.w{width:100%}
.w50{width:50%}
.w33{width:33.33%}
.w25{width:25%}
.w20{width:20%}
.h{width:100%}
/*边距*/
.ma{margin:0 auto}
.m0{margin:0}
.m5{margin:5px}
.m8{margin:8px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m30{margin:30px}
.m50{margin:50px}
.m80{margin:80px}
.m100{margin:100px}
.m150{margin:150px}
.m200{margin:200px}
.mt0{margin-top:0}
.mt5{margin-top:5px}
.mt8{margin-top:8px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.mt80{margin-top:80px}
.mt100{margin-top:100px}
.mt150{margin-top:150px}
.mt200{margin-top:200px}
.mr0{margin-right:0}
.mr5{margin-right:5px}
.mr8{margin-right:8px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr50{margin-right:50px}
.mr80{margin-right:80px}
.mr100{margin-right:100px}
.mr150{margin-right:150px}
.mr200{margin-right:200px}
.mb0{margin-bottom:0}
.mb5{margin-bottom:5px}
.mb8{margin-bottom:8px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb50{margin-bottom:50px}
.mb80{margin-bottom:80px}
.mb100{margin-bottom:100px}
.mb150{margin-bottom:150px}
.mb200{margin-bottom:200px}
.ml0{margin-left:0}
.ml5{margin-left:5px}
.ml8{margin-left:8px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml80{margin-left:80px}
.ml100{margin-left:100px}
.ml150{margin-left:150px}
.ml200{margin-left:200px}
.p0{padding:0}
.p5{padding:5px}
.p8{padding:8px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p30{padding:30px}
.p50{padding:50px}
.p80{padding:80px}
.p100{padding:100px}
.p150{padding:150px}
.p200{padding:200px}
.pt0{padding-top:0}
.pt5{padding-top:5px}
.pt8{padding-top:8px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pt80{padding-top:80px}
.pt100{padding-top:100px}
.pt150{padding-top:150px}
.pt200{padding-top:200px}
.pr0{padding-right:0}
.pr5{padding-right:5px}
.pr8{padding-right:8px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
.pr80{padding-right:80px}
.pr100{padding-right:100px}
.pr150{padding-right:150px}
.pr200{padding-right:200px}
.pb0{padding-bottom:0}
.pb5{padding-bottom:5px}
.pb8{padding-bottom:8px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pb80{padding-bottom:80px}
.pb100{padding-bottom:100px}
.pb150{padding-bottom:150px}
.pb200{padding-bottom:200px}
.pl0{padding-left:0}
.pl5{padding-left:5px}
.pl8{padding-left:8px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.pl50{padding-left:50px}
.pl80{padding-left:80px}
.pl100{padding-left:100px}
.pl150{padding-left:150px}
.pl200{padding-left:200px}
/*公共图片*/
body{background:url(../images/bg_index.gif) repeat rgba(242, 242, 242, 0.98)}
.cue i,.cue-error i,.cue-ok i,.backToTop,.login_box form .submit{background:url(../images/ico.png) no-repeat}
.loading-red{background:url(../images/loading-red.gif)}
.loading-black{background:url(../images/loading-black.gif)}
.loading-blue{background:url(../images/loading-blue.gif)}
.loading-gray{background:url(../images/loading-gray.gif)}
.loading-green{background:url(../images/loading-green.gif)}
.loading-yellow{background:url(../images/loading-yellow.gif)}
.loading-s{background:url(../images/loading-s.gif) no-repeat}
.close-box,.btn-confirm,.btn-cancel,.btn-blue,.btn-white{background:url(../images/ico-index.png) no-repeat}
/*按钮Button*/
.small-btn,.big-btn{height:25px;line-height:25px;padding:0 8px;font-size:11px;box-shadow:none;border-radius:3px; color:#fff}
.big-btn{height:38px;line-height:38px;padding:0 30px;font-size:12px; color:#fff}
input.big-btn{*padding:0 15px}
.btn-red,.btn-red:focus{background-color:#D14836;background:-moz-linear-gradient(center top , #DD4B39, #D14836);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#DD4B39), color-stop(100%,#D14836));background:-webkit-linear-gradient(top, #DD4B39 0%,#D14836 100%);background:-o-linear-gradient(top, #DD4B39 0%,#D14836 100%);background:linear-gradient(top, #DD4B39 0%,#D14836 100%);
    border:1px solid transparent;
    color:#FFFFFF;
    text-shadow:1px 1px 0 #333;
    text-transform:uppercase;
    cursor:pointer; 
    font-weight:bold;
    outline:0 none;
    text-align:center;
	display:inline-block;*display:inline;*zoom:1;
	text-decoration:none;
}
.btn-red:hover{background-color:#C53727;background-image:-moz-linear-gradient(center top , #DD4B39, #C53727);border-color:#B0281A #B0281A #AF301F;border-style:solid;border-width:1px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);text-decoration:none}
.btn-red:active{border:1px solid transparent;box-shadow:0 0 0 1px #FFFFFF inset;outline:0 none transparent}
.btn-red:focus{border:1px solid transparent;box-shadow:0 0 0 1px #FFFFFF inset;outline:0 none transparent}
.btn-red-disable{
    background:none repeat scroll 0 0 #D14836;
    opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;
	background-image:-moz-linear-gradient(center top , #DD4B39, #D14836);
    border:1px solid transparent;
    color:#FFFFFF;
    text-shadow:0 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
    font-weight:bold;
    outline:0 none;
    text-align:center;
	display:inline-block;*display:inline;*zoom:1;
	text-decoration:none;
	cursor:default;
}
.btn-blue,.btn-blue:focus{background-color:#4D90FE;background-image:-moz-linear-gradient(center top , #4D90FE, #4787ED);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D90FE), color-stop(100%,#4787ED));background:-webkit-linear-gradient(top, #4D90FE 0%,#4787ED 100%);background:-o-linear-gradient(top, #4D90FE 0%,#4787ED 100%);background:linear-gradient(top, #4D90FE 0%,#4787ED 100%);
    border:1px solid #3079ED;
    color:#FFFFFF;
    text-shadow:1px 1px 0 #333;
	text-transform:uppercase;
    cursor:pointer;
    font-weight:bold;
    outline:0 none;
    text-align:center;
	display:inline-block;*display:inline;*zoom:1;
	text-decoration:none;
}
.btn-blue:hover{background-color:#357AE8;background-image:-moz-linear-gradient(center top , #4D90FE, #357AE8);border:1px solid #2F5BB7;color:#FFFFFF;text-decoration:none}
.btn-blue:active{border:1px solid transparent;box-shadow:0 0 0 1px #FFFFFF inset;outline:0 none transparent}
.btn-blue:focus{border:1px solid transparent;box-shadow:0 0 0 1px #FFFFFF inset;outline:0 none transparent}
.btn-blue-disable{
    background:none repeat scroll 0 0 #4D90FE;
    opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;
	background-image:-moz-linear-gradient(center top , #4D90FE, #4787ED);
    border:1px solid #3079ED;
    color:#FFFFFF;
    text-shadow:0 1px rgba(0, 0, 0, 0.1);
	text-transform:uppercase;
    font-weight:bold;
    outline:0 none;
    text-align:center;
	display:inline-block;*display:inline;*zoom:1;
	text-decoration:none;
	cursor:default;
}
.btn-green,.btn-green:focus{background-color:#3D9400;background-image:-moz-linear-gradient(center top , #3D9400, #398A00);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3D9400), color-stop(100%,#398A00));background:-webkit-linear-gradient(top, #3D9400 0%,#398A00 100%);background:-o-linear-gradient(top, #3D9400 0%,#398A00 100%);background:linear-gradient(top, #3D9400 0%,#398A00 100%);
    border:1px solid #29691D;
    color:#FFFFFF;
    text-shadow:1px 1px 0 #000;
	display:inline-block;*display:inline;*zoom:1;
	text-decoration:none;
    cursor:pointer;
    font-weight:bold;
    outline:0 none;
    text-align:center;
}
.btn-green:hover{background-color:#368200;background-image:-moz-linear-gradient(center top , #3D9400, #368200);border:1px solid #2D6200;text-decoration:none}
.btn-green:active{border:1px solid transparent;box-shadow:0 0 0 1px #FFFFFF inset;outline:0 none transparent}
.btn-green:focus{border:1px solid transparent;box-shadow:0 0 0 1px #FFFFFF inset;outline:0 none transparent}
.btn-green-disable{
	background-image:-moz-linear-gradient(center top , #3D9400, #398A00);
    border:1px solid #29691D;
    color:#FFFFFF;
    text-shadow:0 1px rgba(0, 0, 0, 0.1);
	display:inline-block;*display:inline;*zoom:1;
	text-decoration:none;
    background:none repeat scroll 0 0 #3D9400;
    opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;
    font-weight:bold;
    outline:0 none;
    text-align:center;
	cursor:default;
}
.btn-gray{background-color:#f5f5f5;background-image:-moz-linear-gradient(center top , #F5F5F5, #F1F1F1);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#F1F1F1));background:-webkit-linear-gradient(top, #F5F5F5 0%,#F1F1F1 100%);background:-o-linear-gradient(top, #F5F5F5 0%,#F1F1F1 100%);background:linear-gradient(top, #F5F5F5 0%,#F1F1F1 100%);
    border:1px solid #c9c9c9;
    text-shadow:1px 1px 0 #fff;
	text-transform:uppercase;
	color:#666;
    cursor:pointer;
    font-weight:bold;
    outline:0 none;
    text-align:center;
	display:inline-block;*display:inline;*zoom:1;
	text-decoration:none;
}
.btn-gray:hover,.btn-gray:focus{background:-moz-linear-gradient(center top , #F8F8F8, #F1F1F1) repeat scroll 0 0 #F8F8F8;border:1px solid #C6C6C6;box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);color:#333;z-index:80;text-decoration:none}
.btn-gray:focus{background:-moz-linear-gradient(center top , #F6F6F6, #F1F1F1) repeat scroll 0 0 #F6F6F6;box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset}
.btn-gray:active{background:-moz-linear-gradient(center top , #F6F6F6, #F1F1F1) repeat scroll 0 0 #F6F6F6;box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset}
.btn-gray-disable{
    background:none repeat scroll 0 0 #f5f5f5;
    opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;
    background-image:-moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border:1px solid #c9c9c9;
    text-shadow:0 1px rgba(0, 0, 0, 0.1);
	text-transform:uppercase;
	color:#666;
    font-weight:bold;
    outline:0 none;
    text-align:center;
	display:inline-block;*display:inline;*zoom:1;
	text-decoration:none;
	cursor:default;
}
.btn-red-disable:hover,.btn-blue-disable:hover,.btn-green-disable:hover,.btn-gray-disable:hover{text-decoration:none}
/*加载图标loading */
.loading-s{display:inline-block;*display:inline;*zoom:1;width:16px;height:16px}
.loading-red,.loading-black,.loading-blue,.loading-gray,.loading-green,.loading-yellow{display:inline-block;*display:inline;*zoom:1;width:24px;height:24px;background-repeat:no-repeat;text-indent:-9999em}
/*验证错误提示信息弹出框*/
.field-validation-error{position:absolute;top:0;height:30px;line-height:30px;background:#7e0000;color:#fff;z-index:1000;_height:30px;padding:0 15px;
-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;
background-image:-moz-linear-gradient(45% 16% 270deg, #980000,#8a0000, #7e0000 100%);
background:-webkit-linear-gradient(top, #980000 0%,#8a0000 45%,#8a0000 46%,#7e0000 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top, #980000 0%,#8a0000 45%,#8a0000 46%,#7e0000 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top, #980000 0%,#8a0000 45%,#8a0000 46%,#7e0000 100%);/* IE10+ */
}
.field-validation-error em{position:absolute;left:50px;top:30px;width:0;height:0;font-size:0;overflow:hidden;border:6px dashed transparent;border-top:6px solid #7e0000}
/* 分页page */
.pages span,.pages a{display:inline-block;margin:0 0 0 5px;padding:2px 5px;border:1px solid #ccc}
.pages .disabled{color:#ccc}
.pages .cur{background-color:#e5e5e5;color:#000}
/* 表格table */
table{width:100%;margin:0 auto;background:#fff}
table td{padding:5px 8px;border:1px solid #ccc}
table thead th{padding:7px 5px;border:1px solid #ccc;background:#f9f9f9;background:-moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec));background:-webkit-linear-gradient(top, #f9f9f9 0%,#ececec 100%);background:-o-linear-gradient(top, #f9f9f9 0%,#ececec 100%);font-size:14px;text-align:left;text-transform:uppercase}
tr.odd{background-color:#f5f5f5}
tr.even{background-color:#fff}
table .edit-box a{margin-left:10px}
/* 选项卡tabs */
.tab span{display:inline-block;*display:inline;*zoom:1;height:32px; line-height:32px;padding:0 15px; margin-right:10px; cursor:pointer;border:1px solid #ccc;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;background:#f9f9f9;background:-moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec));background:-webkit-linear-gradient(top, #f9f9f9 0%,#ececec 100%);background:-o-linear-gradient(top, #f9f9f9 0%,#ececec 100%);text-shadow:1px 1px 0 #fff}
.tab span.cur{background:#fff; border-bottom:1px solid #fff}
.tab-content{ background:#fff; border:1px solid #ccc; padding:15px; margin-top:-1px}
/*表单form*/
.form-box{width:440px;margin:0 auto;padding:20px;background-color:#fff;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.form-box .form-bar{height:74px;position:relative}
.form-box .form-bar input{padding:0 5px;color:#333;width:220px;height:34px;line-height:34px}
.form-box .form-bar .checkbox,.form-box .form-bar .radio{width:24px; vertical-align:-13px}
.form-box .form-bar label{display:block;color:#666;font-weight:bold;margin-bottom:10px}
.cue,.cue-error,.cue-ok{display:inline;margin-left:20px;color:#666}
.cue i,.cue-error i,.cue-ok i{display:inline-block;*display:inline;*zoom:1;width:16px;height:16px;margin-right:5px;vertical-align:middle}
.cue i{background-position:-60px 0}
.cue-ok i{background-position:-80px 0}
.cue-error i{background-position:-100px 0}
.form-box-much{width:auto}
.form-box-much .form-bar,.form-box .form-bar2{ display:inline-block; height:50px}
.form-box-much .form-bar label,.form-box .form-bar2 label{ display:inline-block;text-align:right}
.form-box-much .form-bar label{ min-width:60px; }
.require{color:red; vertical-align:middle; margin-right:20px}
.wauto{width:auto}
/* full or narrow */
.fluit .top_bar_box,.fluit .header,.fluit .container,.fluit .footer{width:auto}
.fixed .top_bar_box,.fixed .header,.fixed .container,.fixed .footer{width:940px;margin:0 auto;padding-left:10px;padding-right:10px}
.fixed .top_bar_box,.fixed .header{width:960px;padding-left:0;padding-right:0}
.fixed .w33 input{width:180px}
/* grid */
.dp20,.dp25,.dp33,.dp50,.dp75,.dp100{display:inline;float:left;min-height:1px;margin-left:1%;*margin-left:.5%}
.dp20{width:19%}
.dp25{width:24%}
.dp33{width:32%}
.dp50{width:49%}
.dp75{width:74%}
.dp100{width:99%}

/* element separation */
.sepH_a{margin-bottom:6px}
.sepH_b{margin-bottom:12px}
.sepH_c{margin-bottom:24px}
.sepV_a{margin-right:6px}
.sepV_b{margin:5px 12px 0 0}
.sepV_c{margin-right:24px}
.sepH_a_line{margin-bottom:4px;padding-bottom:4px;border-bottom:1px solid #eee}
/* login */
.login_content{position:absolute;top:50%;left:50%;width:540px;height:380px;margin-left:-270px;margin-top:-250px}
.login_header h1{float:left;width:173px;height:65px;background:url(../images/logo.png) no-repeat;text-indent:-9999em; margin-right:10px}
.login_header p{height:37px;font-size:18px;line-height:87px}
.login_article{width:524px;height:310px;margin-top:15px;border:5px solid #ddd;border-radius:8px;border-bottom:7px solid #ddd;background:#ddd}
.login_box{overflow:hidden;height:100%;border-radius:8px;border:1px solid #ccc;background:#fff}
.login_box h2{height:45px;padding-left:25px;border-bottom:1px solid #ccc;font-size:16px;font-weight:bold;font-family:'宋体';line-height:45px}
.login_box form{position:relative;text-align:center}
.login_box form .input_box{position:relative;height:40px;padding-top:35px}
.login_box form .input_box p.error{position:absolute;top:10px;left:165px;color:red}
.login_box form .remember_box{position:absolute;top:155px;left:160px;width:245px}
.login_box form .remember_box .inpt_c{float:left;width:15px;height:15px;margin-top:3px \9;border:0 none}
.login_box form label{font-size:14px;vertical-align:middle}
.login_box form input{width:230px;height:35px;line-height:35px \9}
.login_box form input.error,.login_box form input.error:focus{border-color:#f66;background:#fce4da;box-shadow:0 0 4px #c00}
.login_box form input:focus{border-color:#088bfb;box-shadow:0 0 4px #088bfb}
.login_box form .submit{position:absolute;top:175px;left:162px;width:242px;height:38px;border:0 none;text-indent:-9999em;cursor:pointer; background-position:0 -50px}
.login_box form .submit:hover{background-position:0 -88px}
/* top bar */
.top_bar{height:26px;border-bottom:1px solid #ccc;background:#e6e6e6;line-height:26px;font-size:11px}
.top_bar_box{margin:0 20px}
.top_bar li{display:inline;margin-right:4px;padding-right:6px;border-right:1px solid #ccc;line-height:26px}
.top_bar li.border0{margin:0;padding:0;border:0 none}
.top_bar .new_items li span{display:inline-block;width:24px;padding:2px;border-radius:4px;background:#d00;font-weight:700;line-height:1;color:#fff;text-align:center}

/* header */
.header{overflow:hidden;margin:0 20px;padding:20px 0 10px;border-top:1px solid #f7f7fa;*zoom:1}
.header h1{float:left;width:173px;height:65px;margin-top:12px;background:url(../images/logo.png) no-repeat;text-indent:-9999em}
.header .admin{height:37px;margin:44px 0 0 10px;font-size:18px}
.header .nav ul li{display:block;float:left;position:relative;_position:inherit;min-width:60px;height:60px;margin:0 0 10px 10px;border:1px solid #ccc;border-radius:4px;background:#f2f2f2;background:-moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));background:-webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);background:-o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);background:linear-gradient(top, #ffffff 0%,#f2f2f2 100%);text-align:center;-webkit-box-shadow:0 0 1px #fff;-moz-box-shadow:0 0 1px #fff;box-shadow:0 0 1px #fff}
.header .nav ul li:hover,.header .nav ul li.active{background:#fff;background:-moz-linear-gradient(top, #ffffff 0%, #fff 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fff));background:-webkit-linear-gradient(top, #ffffff 0%,#fff 100%);background:-o-linear-gradient(top, #ffffff 0%,#fff 100%);background:linear-gradient(top, #ffffff 0%,#fff 100%)}
.header .nav ul li img{display:none}
.header .nav ul li a{display:block;padding:30px 10px 10px;_padding-bottom:0;color:#222;text-decoration:none}
.header .nav ul li.dashboard a{background:url(../images/ico/dashboard.png)}
.header .nav ul li.content_nav a{background:url(../images/ico/content_nav.png)}
.header .nav ul li.media_library a{background:url(../images/ico/media_library.png)}
.header .nav ul li.user a{background:url(../images/ico/user.png)}
.header .nav ul li.tasks a{background:url(../images/ico/tasks.png)}
.header .nav ul li.report a{background:url(../images/ico/report.png)}
.header .nav ul li.dashboard a,.header .nav ul li.content_nav a,.header .nav ul li.media_library a,.header .nav ul li.user a,.header .nav ul li.tasks a,.header .nav ul li.report a{background-position:49% 12px;background-repeat:no-repeat}
.header .nav ul li.active span.blank{display:block;overflow:hidden;position:absolute;left:50%;bottom:-7px;width:11px;height:7px;margin-left:-6px;background:url(../images/ico/lga_spr.png) no-repeat;background-position:-36px 0}
.header .no_ico_nav ul li a{display:block;padding:15px 10px 10px;font-weight:bold;font-size:14px;color:#21759b;text-decoration:none}
.header .no_ico_nav ul li.dashboard a,.header .no_ico_nav ul li.content_nav a,.header .no_ico_nav ul li.media_library a,.header .no_ico_nav ul li.user a,.header .no_ico_nav ul li.tasks a,.header .no_ico_nav ul li.report a{background:none}

/* tips */
.tip-yellow{z-index:1000;min-width:50px;max-width:530px;padding:7px;border:1px solid #939393;background-color:#fef9d9;background-image:url(../images/tip-yellow.png);color:#8c3901;text-align:left}
.tip-yellow .tip-inner{margin-top:-2px;padding:0 3px 1px;font:bold 13px/18px 'trebuchet ms',arial,helvetica,sans-serif}

.tip-yellow .tip-arrow-top{top:0;left:0;width:16px;height:10px;margin-top:-7px;margin-left:15px;background:url(../images/tip-yellow_arrows.png) no-repeat}
.tip-yellow .tip-arrow-right{top:50%;/* approx. half the height to center it */left:100%;width:10px;height:20px;margin-top:-9px;margin-left:-4px;background:url(../images/tip-yellow_arrows.png) no-repeat -16px 0}
.tip-yellow .tip-arrow-bottom{top:100%;left:0;width:16px;height:13px;margin-top:-6px;margin-left:15px;background:url(../images/tip-yellow_arrows.png) no-repeat -32px 0}
.tip-yellow .tip-arrow-left{top:50%;/* approx. half the height to center it */left:0;width:10px;height:20px;margin-top:-9px;margin-left:-6px;background:url(../images/tip-yellow_arrows.png) no-repeat -48px 0}

/* main_box */
.container{overflow:hidden;margin:0 20px;padding:16px 16px 40px;border-radius:8px;border:1px solid #ccc;background:#fff;box-shadow:0 0 4px 1px #ddd;*zoom:1}

/* Breadcrumbs_menu */
.Breadcrumbs_menu ul{position:relative;z-index:100;margin:0 0 16px;border:1px solid #eee;background:#fff}
.Breadcrumbs_menu ul li{float:left;position:relative;height:16px;padding:5px 15px 5px 10px;background:url(../images/crumbs.gif) no-repeat right center}
.Breadcrumbs_menu ul li.current{background:none}
.Breadcrumbs_menu ul li span.blank{display:inline-block;overflow:hidden;width:17px;height:14px;margin-right:6px;background:url(../images/ico/lga_spr.png) no-repeat -17px -13px;vertical-align:middle}

/* aside */
.aside{float:left;width:200px}
.aside .aside_menu h3{border:1px solid #E3E3E3;line-height:25px;cursor:pointer}
.aside .aside_menu ul li{margin-bottom:5px}
.aside .aside_menu ul li a.create{float:right;margin:-22px 30px 0 0}
.aside .aside_menu h3 a{display:block;padding:0 10px;background:url(../images/ico/up_down_arrows_a.gif) no-repeat 180px 9px;color:#222}
.aside .aside_menu h3 a:hover,.aside .aside_menu h3.active a{background:#F0F0F0 url(../images/ico/up_down_arrows_a.gif) no-repeat 180px -44px;text-decoration:none}
.aside .aside_menu ul li ul li{margin:5px 0;padding-left:22px;background:url(../images/ico/arrow_a.gif) no-repeat 12px 7px;font-size:11px}

/* content */
.content{overflow:hidden;_float:left;min-width:730px;_width:expression_r(document.body.clientWidth < 730 ? '730px' : 'auto');padding-left:10px;*zoom:1}
.content .box_c{margin-bottom:15px}
.content .box_c h4{height:28px;padding:0 5px;border:1px solid #ccc;border-radius:4px 4px 0 0;background:#f9f9f9;background:-moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec));background:-webkit-linear-gradient(top, #f9f9f9 0%,#ececec 100%);background:-o-linear-gradient(top, #f9f9f9 0%,#ececec 100%);line-height:28px;text-shadow:1px 1px 0 #fff;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;cursor:move}
.content .box_c h4 .slide,.content .box_c h4 .hide{display:inline-block;overflow:hidden;width:11px;height:11px;margin:9px 4px 0 0;background:url(../images/ico/lga_spr.png) no-repeat;text-indent:-9999em}
.content .box_c h4 .slide{background-position:-14px 0}
.content .box_c h4 .hide{background-position:0 -50px}
.content .box_c .box_c_content{padding:10px;border-width:1px;border-style:solid;border-color:#fff #ccc #ccc;border-radius:0 0 4px 4px;background:#fafafa;background:-moz-linear-gradient(top, #fafafa 0%, #fefefe 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#fefefe));background:-webkit-linear-gradient(top, #fafafa 0%,#fefefe 100%);background:-o-linear-gradient(top, #fafafa 0%,#fefefe 100%);-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px}
.summary_list li{padding:5px 0 5px 10px;border-bottom:1px solid #ccc;font-size:14px;font-weight:bold;text-align:center}
.summary_list li.border0{border:0 none}
.summary_list li span{width:80px;padding-right:10px;font-size:18px;font-weight:700;color:#21759B;text-align:right}
.truncate{display:inline-block;overflow:hidden;width:42%;vertical-align:bottom;*vertical-align:auto;white-space:nowrap;text-overflow:ellipsis}
.box_c_content .btn_more{display:inline-block;padding:0 16px;border:1px solid #c6c6c6;border-radius:3px;background:url(../images/grd_a.png) repeat-x 0 center;line-height:20px;color:#222;text-decoration:none;text-shadow:1px 1px 0 #fff}
.box_c_content .btn_more:hover{background:#e3e3e3}
img.sepV_b{*vertical-align:auto}
/*弹出框-确认框*/
.popup{ position:relative; width:460px}
.min-box,.close-box,.max-box{ position:absolute; top:13px; right:10px; width:15px; height:15px; background-position:0 -455px; text-indent:-99999px}
.min-box{right:40px; background-position:0 -481px}
.popup h3{ background:#f3f3f3; height:40px; font:700 14px/40px \5b8b\4f53; text-shadow:0 1px 0 #fff; color:#454b51; text-indent:10px}
.popup-min{width: 860px; position: fixed; left: 0px; bottom: 0px; height: 40px;}
.popup-min h3{background:#fff; border:1px solid #ccc}
.max-box{background-position:-21px -485px; width:20px; height:20px; right:40px}
.popup-content{ background:#fff; height:110px;font-size:14px; padding:80px 100px}
.popup-content p{font-size:14px}
.btn-confirm,.btn-cancel,.btn-blue,.btn-white,.btn-disable{ position:absolute; width:112px; height:39px;font:700 14px/39px \5b8b\4f53; text-shadow:0 1px 0 #000;color:#fff; text-align:center}
.btn-confirm,.btn-blue{ background-position:0 -505px; right:140px; bottom:20px}
.btn-confirm:hover,.btn-blue:hover{background-position:0 -556px; text-decoration:none}
.btn-cancel,.btn-white{color:#666;background-position:0 -608px;right:15px; bottom:20px; text-shadow:0 1px 0 #fff}
.btn-cancel:hover,.btn-white:hover{background-position:0 -657px; text-decoration:none}
.btn-blue,.btn-white{ position:static;display:inline-block;*display:inline;*zoom:1}
.btn-disable{ /*background:#ddd; color:#ccc; text-shadow:none*/ opacity:0.4}
.popup-content-form{ padding:45px 55px; height:200px}
.popup-content label{font:700 14px/39px \5b8b\4f53;}
.popup-content input{ width:294px; height:34px; box-shadow:0 0 0 3px #f2f5f7; border-radius:5px; border:1px solid #d2d9dc; padding:0 10px}
.popup-content input:focus{box-shadow:0 0 0 3px #eaf4fb;border:1px solid #b7d4ea}
.f12 {font-size:12px}
.ml42{margin-left:42px}
.popup-content .btn-submit{ position:static; margin-left:42px; border:none}
.popup-content .error-tip{ position:absolute; left:100px; top:60px; color:#f00; font-size:12px; display:none}
/* layerShowHide */
html body{_background-image:url(about:blank);_background-attachment:fixed; height:100%}
.overlay{background:#000;filter:alpha(opacity=60);opacity:0.6;width:100%;height:100%;position:fixed;left:0;top:0;z-index:9999998}
.overlay-ie6{position:absolute}
.overlay iframe{background:#000;height:100%;width:100%}
.popup-ie6{position:absolute;left:expression(eval(document.documentElement.scrollLeft+ (document.documentElement.clientWidth-this.offsetWidth)/2));
top:expression(eval(document.documentElement.scrollTop+ (document.documentElement.clientHeight-this.offsetHeight)/2));z-index:9999999}
/* footer */
.footer{overflow:hidden;position:relative;padding:10px 20px;*zoom:1}
.footer .toTop{display:block;position:absolute;top:0;right:36px;padding:4px 12px;border-width:0 1px 1px;border-style:solid;border-color:#ccc;border-radius:0 0 4px 4px;background:#fff;font-size:11px;text-decoration:none;-moz-border-radius-topleft:0;-moz-border-radius-topright:0;-moz-border-radius-bottomright:4px;-moz-border-radius-bottomleft:4px;-webkit-border-radius:0 0 4px 4px}

/* error_404 */
.error_404{position:absolute;top:50%;left:50%;width:680px;height:345px;margin-left:-340px;margin-top:-172px;background:url(../images/bg_error_404.jpg) no-repeat 0 0}
.error_404 .error_content{margin-top:120px}
.error_404 h2 span{font-size:42px}
.error_404 p{line-height:3.5}