@charset "utf-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
body{font:400 12px/1.5 \5b8b\4f53,Arial,Helvetica,sans-serif}
h1,h2,h3,h4,h5,h6,i{font-weight:400;font-style:normal}
select,input,img,th{vertical-align:middle}
img{border:none}
ul,ol,li,dl,dt,dd{list-style-type:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
a:focus,input[type="button"]:focus,input[type="submit"]:focus,button,textarea:focus{outline:none}
table{border-collapse:collapse;border-spacing:0}
textarea{overflow:auto;resize:none}
.clearfix{*zoom:1}
.clearfix:after{display:block;visibility:hidden;clear:both;height:0;content:'.';font-size:0}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.pr{position:relative}
.pa{position:absolute}
.display-i-b{display:inline-block;*display:inline;*zoom:1}
header,footer,article,aside,section,nav,menu,hgroup{display:block}
*{behavior:url(PIE.htc)}
/*文字排版*/
.f10{font-size:10px}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f24{font-size:24px}
.fb{font-weight:700}
.fn{font-weight:400}
.t2{text-indent:2em}
.lh150{line-height:150%}
.lh200{line-height:200%}
/*字体*/
.SimSun{font-family:'SimSun'}
.yahei{font-family:'微软雅黑'}
/*定位*/
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.vt{vertical-align:top}
.vm{vertical-align:middle}
.vb{vertical-align:bottom}
/*长度高度*/
.w{width:100%}
.h{height:100%}
/*边距*/
.ma{margin:0 auto}
.m0{margin:0}
.m5{margin:5px}
.m10{margin:10px}
.mt0{margin-top:0}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt50{margin-top:50px}
.mr0{margin-right:0}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr50{margin-right:50px}
.mb0{margin-bottom:0}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb50{margin-bottom:50px}
.ml0{margin-left:0}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml50{margin-left:50px}
.p0{padding:0}
.p5{padding:5px}
.p10{padding:10px}
.pt0{padding-top:0}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt50{padding-top:50px}
.pr0{padding-right:0}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr50{padding-right:50px}
.pb0{padding-bottom:0}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb50{padding-bottom:50px}
.pl0{padding-left:0}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl50{padding-left:50px}